#onc_div, #theobalds_div
{
	display: none;
	float: left;
	margin: 10px;
}

.clear
{
	clear: both;
}

body {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

table {
	font-size: 1em;
}

.error{
	color: red;
	font-weight: bold;
	display: none;
	font-size: 12px; 
}

.success{
	color: green;
	font-weight: bold;
	display: none;
	font-size: 12px; 
	border: 1px solid green;
	float: left;
	padding: 5px;
}